<p>
  Lorem ipsum dolor sit amet, ne mea habeo delectus placerat, ludus graeco atomorum et sed. Et regione ceteros accusamus ius, vel aeque dissentias ei. An sit purto sanctus consectetuer, ut eos quodsi imperdiet, ne vix feugait luptatum. Et vix paulo iuvaret corrumpit, ferri ornatus honestatis est ea. His consequat cotidieque mediocritatem ne, ut possim quaerendum cum.

  Reque docendi ius ea. At pri dicunt nostrud mnesarchum. Sea tamquam pertinax id. Aliquip dignissim nam an. Ei eum quodsi iriure consequat, usu stet scribentur id.

<br>
<br>
<a href="" (click)="backToHome()"><strong>Back to Home page</strong></a>
</p>
